/*PROJETOS*/
.projetos {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.container-projetos {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 40px;
}

.tittle-projetos h1 {
    font-size: 45px;
    margin-bottom: 50px;
    color: #138b1b;
    font-weight: bolder;
}

.form-projects {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 30px;
    flex-wrap: wrap;
}

.projects {
    background-color: #17171a;
    height: 250px;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 20px;
    color: #d3d3d3;
    border-radius: 2px;
    margin: 10px;
}

.projects h2 {
    font-size: 40px;
    font-weight: bold;
}

.projects p {
    font-size: 20px;
    font-weight: 500;
}

.projects a {
    display: flex;
    text-decoration: none;
    font-size: 25px;
    background: none;
    border: none;
}

.projects {
    border: 2px solid #138b1b;
}

.projects a {
    color: #138b1b;
    position: relative;
}

.projects a:after {
    content: "";
    position: absolute;
    background-color: #138b1b;
    height: 1px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.5s ease-in-out;
}

.projects a:hover:after {
    width: 60%;
}
